<%- include('../../partials/header.ejs'); -%>
<%- include('../../partials/navBar.ejs'); -%>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Categoria</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(Article => { %>
                <tr>
                    <th><%= Article.id %></th>
                    <th><%= Article.title %></th>
                    <th><%= Article.Category.title %></th>
                    <th>
                        <a href="/admin/articles/edit/<%= Article.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmar(event, this)">
                            <input type="hidden" name="id" value="<%= Article.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs'); -%>

<script>
    function confirmar(event, form){
        event.preventDefault()
        let decisao = confirm('Você quer deletar eeste artigo?')
        if(decisao){
            form.submit()
        }
    }
</script>